.homePage1{
    background-image: url("../images/Help\ Me.png");
    background-size:  cover;
   
}
button{
    width: 200.5px;
    height: 70.1px;
    background-color: #BA4B2F;
    margin: 573.9px 959.3px;
    font-size: 100%;
    border: none;
    color: white;
    border-radius: 8px;
}